body{
	background-color: #fff;
	font-family: sans-serif;
}

.dark-mode{
	background-color: #111 !important;
}

nav{
	width: 100%;
}

nav ul{
	display: flex;
	align-items: center;
}

nav ul li{
	list-style-type: none;
	margin-right: 20px;
}

nav ul li span{
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
	margin-top: 5px;
	width: 20px;
	height: 2px;
	background-color: #111;
}

.time{
	display: flex;
}

.time p {
	margin-left: 20px;
}

#bold{
	font-weight: bold;
}